UPDATE_MIRRORS=1
MIRRORS_MODE=0
MAIL-ON-WARNING=root
MAIL_CMD=mail -s "[rkhunter] Warnings found for ${HOST_NAME}"
TMPDIR=/var/lib/rkhunter/tmp
DBDIR=/var/lib/rkhunter/db
SCRIPTDIR=/usr/share/rkhunter/scripts
INSTALLDIR=/usr
DISABLE_TESTS="suspscan hidden_procs deleted_files packet_cap_apps apps local_host"
PKGMGR=DPKG
SCRIPTWHITELIST=/usr/bin/lwp-request
ALLOWHIDDENDIR=/dev/.udev
ALLOWHIDDENDIR=/dev/.static
ALLOWHIDDENDIR=/dev/.initramfs
ALLOWHIDDENDIR=/dev/.mdadm
ALLOWHIDDENDIR=/run/blkid
ALLOWHIDDENDIR=/run/lock
ALLOWDEVFILE=/dev/shm/pulse-shm*
ALLOWHIDDENFILE=/etc/.java
ALLOWHIDDENFILE=/usr/share/man/man1/..1.gz
ALLOWHIDDENFILE=/etc/.pwd.lock
ALLOWHIDDENFILE=/etc/.updated
ALLOWHIDDENFILE=/var/lib/apt/lists/*
WEB_CMD=""
DISABLE_TESTS="suspscan hidden_procs deleted_files packet_cap_apps apps local_host" 