# Basic configuration
Port 22
Protocol 2
AddressFamily inet
ListenAddress 0.0.0.0

# Security
PermitRootLogin no
MaxAuthTries 3
MaxSessions 10
PubkeyAuthentication yes
PermitEmptyPasswords no
PasswordAuthentication no
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
UsePAM yes

# Authentication methods
AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys

# Forwarding options
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitTunnel no

# Miscellaneous settings
Compression no
ClientAliveInterval 300
ClientAliveCountMax 2
PermitUserEnvironment no
Banner /etc/issue.net
UseDNS no

# Logging
SyslogFacility AUTH
LogLevel VERBOSE

# SFTP settings
Subsystem sftp internal-sftp

# Allowed users and groups
AllowUsers root oo-acs
StrictModes yes
HostbasedAuthentication no
IgnoreRhosts yes

# Security-hardened sshd_config
AddressFamily inet

# Ciphers and algorithms
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256

# Allowed users and groups
AllowUsers {{ deploy_user }}
AllowGroups {{ deploy_user_groups | join(' ') }}

# Chroot configuration
ChrootDirectory none
ForceCommand none

# Forwarding settings
PrintMotd {{ ssh_config.print_motd }}
PrintLastLog {{ ssh_config.print_lastlog }}
TCPKeepAlive {{ ssh_config.tcp_keepalive }}

# Kerberos authentication
KerberosAuthentication {{ ssh_config.kerberos_authentication }}
GSSAPIAuthentication {{ ssh_config.gssapi_authentication }}
HostbasedAuthentication {{ ssh_config.host_based_auth }}
IgnoreRhosts {{ ssh_config.ignore_rhosts }}

# Allow only specific users/groups
AllowUsers {{ deploy_user }}
AllowGroups {{ deploy_user_groups | join(' ') }} 